<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceSentry.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
      <ServiceSentry.Client.Properties.Settings>
        <setting name="IsUpdateRequired" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CloseToSystemTray" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartMaximized" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SuggestAutoStart" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MainWindowTop" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="MainWindowLeft" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="MainWindowWidth" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="MainWindowHeight" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="ShowCommonNameColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowStatusColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowToggleButtonColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowConfigFileColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowLogFileColumns" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowOtherLogName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowOtherLogPath" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowOtherLogSize" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowOtherLogDate" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowDisplayNameColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowServiceNameColumn" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowServiceConfigFileName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowServiceConfigFilePath" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowServiceConfigFileSize" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowServiceConfigFileDate" serializeAs="String">
          <value>True</value>
        </setting>
      </ServiceSentry.Client.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
